In [40]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder , OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [35]:
data=pd.read_csv('DataPreprocessing.csv')
data.describe()

             Age        Income
count   9.000000      9.000000
mean   43.777778  76533.333333
std     7.693793  14718.695594
min    32.000000  57600.000000
25%    40.000000  64800.000000
50%    43.000000  73200.000000
75%    49.000000  86400.000000
max    55.000000  99600.000000

In [36]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values
si=SimpleImputer(missing_values=np.nan,strategy='mean')
si.fit(x[:,1:])

SimpleImputer()

In [37]:
x[:,1:]=si.transform(x[:,1:])
pd.DataFrame(x)

        0          1             2
0   India       49.0       86400.0
1  Brazil       32.0       57600.0
2     USA       35.0       64800.0
3  Brazil       43.0       73200.0
4     USA       45.0  76533.333333
5   India       40.0       69600.0
6  Brazil  43.777778       62400.0
7   India       53.0       94800.0
8     USA       55.0       99600.0
9   India       42.0       80400.0

In [25]:
le=LabelEncoder()

In [26]:
x[:,0]=le.fit_transform(x[:,0])

In [38]:
ct=ColumnTransformer([('country',OneHotEncoder(),[0])],remainder='passthrough')

In [39]:
x=ct.fit_transform(x)
pd.DataFrame(x)

     0    1    2          3             4
0  0.0  1.0  0.0       49.0       86400.0
1  1.0  0.0  0.0       32.0       57600.0
2  0.0  0.0  1.0       35.0       64800.0
3  1.0  0.0  0.0       43.0       73200.0
4  0.0  0.0  1.0       45.0  76533.333333
5  0.0  1.0  0.0       40.0       69600.0
6  1.0  0.0  0.0  43.777778       62400.0
7  0.0  1.0  0.0       53.0       94800.0
8  0.0  0.0  1.0       55.0       99600.0
9  0.0  1.0  0.0       42.0       80400.0

In [42]:
s=StandardScaler()
x=s.fit_transform(x)
pd.DataFrame(x)

          0         1         2             3             4
0 -0.654654  1.224745 -0.654654  7.588744e-01  7.494733e-01
1  1.527525 -0.816497 -0.654654 -1.711504e+00 -1.438178e+00
2 -0.654654 -0.816497  1.527525 -1.275555e+00 -8.912655e-01
3  1.527525 -0.816497 -0.654654 -1.130238e-01 -2.532004e-01
4 -0.654654 -0.816497  1.527525  1.776089e-01 -3.608225e-16
5 -0.654654  1.224745 -0.654654 -5.489729e-01 -5.266569e-01
6  1.527525 -0.816497 -0.654654  8.881784e-17 -1.073570e+00
7 -0.654654  1.224745 -0.654654  1.340140e+00  1.387538e+00
8 -0.654654 -0.816497  1.527525  1.630773e+00  1.752147e+00
9 -0.654654  1.224745 -0.654654 -2.583402e-01  2.937125e-01