In [25]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer,KNNImputer
from sklearn.preprocessing import Normalizer,LabelEncoder ,Binarizer,MinMaxScaler, OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [7]:
data=pd.read_csv('pima-indians-diabetes.csv',names=['preg','plas','pres','skin','test','mass','pedi','age','class'])
data=data.iloc[:,:-1]
y=data.iloc[:,1]
data

     preg  plas  pres  skin  test  mass   pedi  age
0       6   148    72    35     0  33.6  0.627   50
1       1    85    66    29     0  26.6  0.351   31
2       8   183    64     0     0  23.3  0.672   32
3       1    89    66    23    94  28.1  0.167   21
4       0   137    40    35   168  43.1  2.288   33
..    ...   ...   ...   ...   ...   ...    ...  ...
763    10   101    76    48   180  32.9  0.171   63
764     2   122    70    27     0  36.8  0.340   27
765     5   121    72    23   112  26.2  0.245   30
766     1   126    60     0     0  30.1  0.349   47
767     1    93    70    31     0  30.4  0.315   23

[768 rows x 8 columns]

In [8]:
data.isnull().sum()

preg    0
plas    0
pres    0
skin    0
test    0
mass    0
pedi    0
age     0
dtype: int64

In [9]:
skines=data[data['skin']==0]
skines

     preg  plas  pres  skin  test  mass   pedi  age
2       8   183    64     0     0  23.3  0.672   32
5       5   116    74     0     0  25.6  0.201   30
7      10   115     0     0     0  35.3  0.134   29
9       8   125    96     0     0   0.0  0.232   54
10      4   110    92     0     0  37.6  0.191   30
..    ...   ...   ...   ...   ...   ...    ...  ...
757     0   123    72     0     0  36.3  0.258   52
758     1   106    76     0     0  37.5  0.197   26
759     6   190    92     0     0  35.5  0.278   66
762     9    89    62     0     0  22.5  0.142   33
766     1   126    60     0     0  30.1  0.349   47

[227 rows x 8 columns]

In [10]:
skin_mean=data[data['skin']!=0]['skin'].mean()
data.replace({'skin':0},skin_mean,inplace=True)

In [11]:
data.replace({'test':0},data[data['test']!=0]['test'].mean(),inplace=True)
data

     preg  plas  pres      skin        test  mass   pedi  age
0       6   148    72  35.00000  155.548223  33.6  0.627   50
1       1    85    66  29.00000  155.548223  26.6  0.351   31
2       8   183    64  29.15342  155.548223  23.3  0.672   32
3       1    89    66  23.00000   94.000000  28.1  0.167   21
4       0   137    40  35.00000  168.000000  43.1  2.288   33
..    ...   ...   ...       ...         ...   ...    ...  ...
763    10   101    76  48.00000  180.000000  32.9  0.171   63
764     2   122    70  27.00000  155.548223  36.8  0.340   27
765     5   121    72  23.00000  112.000000  26.2  0.245   30
766     1   126    60  29.15342  155.548223  30.1  0.349   47
767     1    93    70  31.00000  155.548223  30.4  0.315   23

[768 rows x 8 columns]

In [12]:
data=pd.read_csv('pima-indians-diabetes.csv',names=['preg','plas','pres','skin','test','mass','pedi','age','class'])
data=data.iloc[:,:-1]

In [13]:
data.replace({'test':0,'skin':0},np.nan,inplace=True)
data

     preg  plas  pres  skin   test  mass   pedi  age
0       6   148    72  35.0    NaN  33.6  0.627   50
1       1    85    66  29.0    NaN  26.6  0.351   31
2       8   183    64   NaN    NaN  23.3  0.672   32
3       1    89    66  23.0   94.0  28.1  0.167   21
4       0   137    40  35.0  168.0  43.1  2.288   33
..    ...   ...   ...   ...    ...   ...    ...  ...
763    10   101    76  48.0  180.0  32.9  0.171   63
764     2   122    70  27.0    NaN  36.8  0.340   27
765     5   121    72  23.0  112.0  26.2  0.245   30
766     1   126    60   NaN    NaN  30.1  0.349   47
767     1    93    70  31.0    NaN  30.4  0.315   23

[768 rows x 8 columns]

In [14]:
imp=KNNImputer(n_neighbors=3)
data=imp.fit_transform(data)
data=pd.DataFrame(data)
data

        0      1     2          3           4     5      6     7
0     6.0  148.0  72.0  35.000000  125.333333  33.6  0.627  50.0
1     1.0   85.0  66.0  29.000000   66.666667  26.6  0.351  31.0
2     8.0  183.0  64.0  30.000000  195.000000  23.3  0.672  32.0
3     1.0   89.0  66.0  23.000000   94.000000  28.1  0.167  21.0
4     0.0  137.0  40.0  35.000000  168.000000  43.1  2.288  33.0
..    ...    ...   ...        ...         ...   ...    ...   ...
763  10.0  101.0  76.0  48.000000  180.000000  32.9  0.171  63.0
764   2.0  122.0  70.0  27.000000  166.666667  36.8  0.340  27.0
765   5.0  121.0  72.0  23.000000  112.000000  26.2  0.245  30.0
766   1.0  126.0  60.0  35.333333  120.666667  30.1  0.349  47.0
767   1.0   93.0  70.0  31.000000   70.666667  30.4  0.315  23.0

[768 rows x 8 columns]

In [15]:
sc=MinMaxScaler(feature_range=(0,1))
data=sc.fit_transform(data)
pd.DataFrame(data)

,0,1,2,3,4,5,6,7
0,0.352941,0.743719,0.590164,0.304348,0.133814,0.500745,0.234415,0.483333
1,0.058824,0.427136,0.540984,0.239130,0.063301,0.396423,0.116567,0.166667
2,0.470588,0.919598,0.524590,0.250000,0.217548,0.347243,0.253629,0.183333
3,0.058824,0.447236,0.540984,0.173913,0.096154,0.418778,0.038002,0.000000
4,0.000000,0.688442,0.327869,0.304348,0.185096,0.642325,0.943638,0.200000
...,...,...,...,...,...,...,...,...
763,0.588235,0.507538,0.622951,0.445652,0.199519,0.490313,0.039710,0.700000
764,0.117647,0.613065,0.573770,0.217391,0.183494,0.548435,0.111870,0.100000
765,0.294118,0.608040,0.590164,0.173913,0.117788,0.390462,0.071307,0.150000
766,0.058824,0.633166,0.491803,0.307971,0.128205,0.448584,0.115713,0.433333
767,0.058824,0.467337,0.573770,0.260870,0.068109,0.453055,0.101196,0.033333

In [16]:
s=StandardScaler()
data=s.fit_transform(data)
pd.DataFrame(data)

,0,1,2,3,4,5,6,7
0,0.639947,0.848324,0.149641,0.625753,-0.269421,0.204013,0.468492,1.425995
1,-0.844885,-1.123396,-0.160546,-0.004422,-0.850042,-0.684422,-0.365061,-0.190672
2,1.233880,1.943724,-0.263941,0.100607,0.420066,-1.103255,0.604397,-0.105584
3,-0.844885,-0.998208,-0.160546,-0.634597,-0.579526,-0.494043,-0.920763,-1.041549
4,-1.141852,0.504055,-1.504687,0.625753,0.152849,1.409746,5.484909,-0.020496
...,...,...,...,...,...,...,...,...
763,1.827813,-0.622642,0.356432,1.991132,0.271612,0.115169,-0.908682,2.532136
764,-0.547919,0.034598,0.046245,-0.214480,0.139653,0.610154,-0.398282,-0.531023
765,0.342981,0.003301,0.149641,-0.634597,-0.401380,-0.735190,-0.685193,-0.275760
766,-0.844885,0.159787,-0.470732,0.660763,-0.315607,-0.240205,-0.371101,1.170732
767,-0.844885,-0.873019,0.046245,0.205637,-0.810454,-0.202129,-0.473785,-0.871374

In [24]:
norm=Normalizer()
data=norm.transform(data)
pd.DataFrame(data)
p=data[:1]**2
p.sum()

1.0

In [26]:
bin=Binarizer(threshold=0.0)
datab=bin.fit_transform(data)

In [27]:
pd.DataFrame(datab)

       0    1    2    3    4    5    6    7
0    1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0
1    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2    1.0  1.0  0.0  1.0  1.0  0.0  1.0  0.0
3    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4    0.0  1.0  0.0  1.0  1.0  1.0  1.0  0.0
..   ...  ...  ...  ...  ...  ...  ...  ...
763  1.0  0.0  1.0  1.0  1.0  1.0  0.0  1.0
764  0.0  1.0  1.0  0.0  1.0  1.0  0.0  0.0
765  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
766  0.0  1.0  0.0  1.0  0.0  0.0  0.0  1.0
767  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0

[768 rows x 8 columns]

In [29]:
d=np.concatenate((data,datab),axis=1)
pd.DataFrame(d)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.323623,0.428999,0.075674,0.316445,-0.136247,0.103170,0.236917,0.721129,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
1,-0.460767,-0.612656,-0.087555,-0.002411,-0.463579,-0.373256,-0.199090,-0.103985,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.461433,0.726892,-0.098706,0.037624,0.157092,-0.412583,0.226026,-0.039485,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
3,-0.391752,-0.462843,-0.074441,-0.294246,-0.268711,-0.229075,-0.426934,-0.482940,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-0.189497,0.083651,-0.249712,0.103848,0.025366,0.233956,0.910254,-0.003402,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,0.469680,-0.159996,0.091590,0.511646,0.069794,0.029594,-0.233497,0.650664,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0
764,-0.503982,0.031824,0.042537,-0.197281,0.128454,0.561227,-0.366345,-0.488441,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0
765,0.256363,0.002467,0.111850,-0.474334,-0.300015,-0.549523,-0.512153,-0.206118,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
766,-0.482737,0.091296,-0.268959,0.377536,-0.180326,-0.137244,-0.212034,0.668914,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
767,-0.472167,-0.487890,0.025844,0.114921,-0.452925,-0.112960,-0.264776,-0.486970,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

NameError: name 'pd' is not defined